{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Panel admina!</h1>
        <p>nic tu nie ma</p>
        {{ dump() }}
    </div>
{% endblock %}
