{% extends 'base.html.twig' %}

{% block title %}{{ 'header.homepage' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'header.homepage' | trans }}</h1>

        <p>coś o stronie do uzupełnienia</p>
    </div>
{% endblock %}
